/* Created by: Marcus Wehbi
* Created on: May 2022
* This CSS file defines the style for index.php
* ICS2O-Unit5-02-PHP-ProductOfNumbers
*/

body {
	background-color: rgb(208, 190, 190);
}

h1 {
	background-color: rgb(85, 5, 143);
	color: hsl(52, 100%, 93%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #b7d6dc;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}

#display-results{
  background-color: #449c5a;
	font-size: 20px;
}
